Detection at {{ .Extra.FormattedTime }} <br />
Camera: {{ .Extra.CameraName }} <br />
{{ if ne .Label "" }}Label: {{ .Label }} ({{ .Extra.TopScorePercent }}) <br /> {{ end }}
{{ if ge (len .Extra.Audio ) 1 }}Audio: {{ .Extra.Audio }}<br /> {{ end }}
{{ if ge (len .Zones ) 1 }}Zone(s): {{ .Extra.ZoneList }}
{{ end }}
<br />
Links: <a href="{{if ge .Extra.FrigateMajorVersion 14 }}{{ .Extra.PublicURL }}/#{{ .Camera }}{{ else }}{{ .Extra.PublicURL }}/cameras/{{ .Camera }}{{ end }}">Camera</a>{{ if ne .Extra.ReviewLink "" }} | <a href="{{ .Extra.ReviewLink }}">Review Event</a>{{ else }}{{ if .HasClip }} | <a href="{{ .Extra.EventLink }}">Event Clip</a> <br />{{ end }}{{ end }}
{{ if not .HasSnapshot }}<br /><br />No snapshot available.
{{ end }}